{% extends 'main.html' %}

{% block content %}

<style>
    .community-container{
        display :grid;
        grid-template-columns: 1fr 3fr 1fr
    }
</style>


<div class="community-container">

   <div>
       {% include 'srbase/college.html' %}
   </div>

   <div>
    <h4>communities Availlable</h4>
    <hr>
    {% for college in colleges  %}
    
    <div>
        <a href = "{% url 'home' %}?q= {{college.name}}">{{college.name}}</a>

     </div>
    
    {% endfor %}
   </div>
   <div>
    {% include 'srbase/browse.html' %}
   </div>
</div>




{% endblock content %}