{% for repository in repositories  %}
<div class="roomListRoom">
    <div class="roomListRoom__header">
      <a href="{% url 'user-profile' repository.author.id %}" class="roomListRoom__author">
        <div class="avatar avatar--small">
          <img src="https://randomuser.me/api/portraits/women/11.jpg" />
        </div>
        <span>@{{repository.author.username}}</span>
      </a>
      <div class="roomListRoom__actions">
        <span>{{repository.created|timesince}}ago</span>
      </div>
    </div>
    <div class="roomListRoom__content">
        <a href="{% url 'repository' repository.id %}">{{ repository.title}}</a>
       
      </div>
    
    <div class="roomListRoom__meta">
      <a href="{% url 'repository' repository.id %}" class="roomListRoom__joined">
        
      </a>
      <p class="roomListRoom__topic">{{repository.college.name}}</p>
    </div>
  </div>

    
{% endfor %}


