{% extends 'main.html' %}

{% block content %}

<style>
    .title-container{
        display :grid;
        grid-template-columns: 1fr 3fr 1fr
    }
</style>
<div class="title-container">


<div>
    <h4>All Titles Collections</h4>
    <hr>
    

    {% for title in titles %}
    
    <div>
        <a href = "{% url 'titles' %}?q= {{repository.title}}">{{title.name}}</a>

     </div>
    
    {% endfor %}
</div>
<div></div>
<div>
    {% include 'srbase/browse.html' %}
</div>


</div>

{% endblock content %}